In [ ]:

#Compiler : JupyterNotebook

In [18]:
import numpy as np
import pandas as pd

In [19]:
data = pd.read_csv("smsa.csv", parse_dates=True, index_col='RegionName')
data.head()

,RegionID,SizeRank,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,102001,0,Country,NaN,127772.0,128118.0,128481.0,129221.0,129968.0,130713.0,...,294041.0,299950.0,305369.0,310014.0,314128.0,318031.0,322383.0,327102.0,332304.0,337560.0
"New York, NY",394913,1,Msa,NY,224282.0,225622.0,226828.0,229201.0,231411.0,233764.0,...,543069.0,550998.0,558592.0,564494.0,569042.0,572596.0,575832.0,579787.0,584419.0,590839.0
"Los Angeles-Long Beach-Anaheim, CA",753899,2,Msa,CA,232075.0,232884.0,234121.0,236474.0,238998.0,241380.0,...,806153.0,827135.0,840632.0,849778.0,854556.0,861788.0,871123.0,881946.0,894332.0,911892.0
"Chicago, IL",394463,3,Msa,IL,170360.0,170762.0,171282.0,172323.0,173426.0,174520.0,...,272673.0,276846.0,280969.0,284047.0,286712.0,289412.0,292137.0,294778.0,297350.0,300651.0
"Dallas-Fort Worth, TX",394514,4,Msa,TX,131146.0,131251.0,131338.0,131551.0,131775.0,131962.0,...,305817.0,313669.0,321613.0,328844.0,334957.0,340454.0,346364.0,353819.0,362366.0,370501.0

In [20]:
copied = data.copy(deep=False)
copied = copied.T
percentages = copied.copy(deep=False)
percentages = percentages[4:]

In [21]:
date_list = []
for row in copied:
    date_list.append(row)
for d in date_list:
    percentages[d] = percentages[d].astype(float).pct_change(fill_method='ffill')
percentages.index = pd.to_datetime(percentages.index).strftime('%Y-%m')
percentages.index=percentages.index.to_series().astype(str)
percentages

RegionName,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Winnemucca, NV","Sweetwater, TX","Andrews, TX","Zapata, TX","Vermillion, SD","Lamesa, TX","Craig, CO","Pecos, TX","Vernon, TX","Ketchikan, AK"
2000-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02,0.002708,0.005975,0.003486,0.002360,0.000801,0.003346,0.000619,0.001274,0.003689,0.003330,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003630,NaN,NaN,NaN
2000-03,0.002833,0.005345,0.005312,0.003045,0.000663,0.002013,-0.000943,0.001961,0.003281,0.003409,...,NaN,NaN,NaN,NaN,NaN,NaN,0.006125,NaN,NaN,NaN
2000-04,0.005760,0.010462,0.010050,0.006078,0.001622,0.004976,0.000936,0.004157,0.006447,0.006885,...,NaN,NaN,NaN,NaN,NaN,NaN,0.007241,NaN,NaN,NaN
2000-05,0.005781,0.009642,0.010673,0.006401,0.001703,0.004006,0.000063,0.005755,0.005265,0.006678,...,NaN,NaN,NaN,NaN,NaN,NaN,0.007416,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11,0.012425,0.006246,0.008463,0.009417,0.016411,0.008013,0.011552,0.005579,0.020226,0.023323,...,0.003880,0.005011,0.001780,0.004224,0.003912,0.006315,0.006639,0.006222,0.003611,0.004616
2021-12,0.013684,0.005651,0.010832,0.009416,0.017359,0.007305,0.012334,0.006493,0.018759,0.023624,...,0.021796,0.018236,0.016318,0.020928,0.014403,0.017466,0.013919,0.016472,0.026830,0.016363
2022-01,0.014638,0.006868,0.012424,0.009040,0.021524,0.008101,0.012309,0.007162,0.020393,0.022050,...,0.020623,0.005481,0.014134,0.023440,0.015219,0.017490,0.011947,0.015889,0.027094,0.016313
2022-02,0.015903,0.007989,0.014044,0.008725,0.024156,0.008033,0.015173,0.009499,0.018893,0.019633,...,0.028337,0.009992,0.017346,0.023897,0.020722,0.023367,0.009444,0.014146,0.031170,0.013287
2022-03,0.015817,0.010985,0.019635,0.011101,0.022450,0.010168,0.018560,0.010465,0.024960,0.020259,...,0.012124,-0.002422,0.003055,0.005348,0.009000,0.012168,0.000989,0.010133,0.007943,0.000648

In [22]:
#Range and frame
four_r = pd.period_range("2000-01-01", "2004-01-01", freq='m')
four_f = percentages[:len(four_r)]
eight_r = pd.period_range("2000-01-01", "2008-01-01", freq='m')
eight_f = percentages[:len(eight_r)]
ten_r = pd.period_range("2000-01-01", "2010-01-01", freq='m')
ten_f = percentages[:len(ten_r)]

In [23]:
four_agg = four_f.agg(['sum'])
four_sort = four_agg.sort_values(by=['sum'], axis=1, ascending=False)

eight_agg = eight_f.agg(['sum'])
eight_sort = eight_agg.sort_values(by=['sum'], axis=1, ascending=False)

ten_agg = ten_f.agg(['sum'])
ten_sort = ten_agg.sort_values(by=['sum'], axis=1, ascending=False)

In [24]:
#parta
n = input('Enter the N value:')
print('Over four years:')
print(four_sort.iloc[0][:int(n)])
print('Over eight years:')
print(eight_sort.iloc[0][:int(n)])
print('Over Ten years:')
print(ten_sort.iloc[0][:int(n)])

Enter the N value:10
Over four years:
Barnstable Town, MA              0.641076
San Luis Obispo, CA              0.620812
San Diego, CA                    0.615979
Napa, CA                         0.614230
Ocean City, NJ                   0.612653
Vallejo, CA                      0.611770
Santa Maria-Santa Barbara, CA    0.610464
Sacramento, CA                   0.590854
Modesto, CA                      0.576282
Salinas, CA                      0.574439
Name: sum, dtype: float64
Over eight years:
Kapaa, HI                             1.048519
Kahului, HI                           1.012358
Payson, AZ                            0.940047
Riverside, CA                         0.925906
Ocean City, NJ                        0.921866
Los Angeles-Long Beach-Anaheim, CA    0.909871
Oneonta, NY                           0.902776
Miami-Fort Lauderdale, FL             0.860798
Bakersfield, CA                       0.860445
Urban Honolulu, HI                    0.858132
Name: sum, dtype: float64
Over Ten years:
Kapaa, HI             0.911424
Ocean City, NJ        0.852555
Watertown, NY         0.832362
Kahului, HI           0.827259
Oneonta, NY           0.823917
Urban Honolulu, HI    0.703716
Hudson, NY            0.666007
Virginia Beach, VA    0.662315
Ithaca, NY            0.656683
Salisbury, MD         0.649719
Name: sum, dtype: float64

In [26]:
#partB
date_list
five_r = pd.period_range("2000-01-01", "2005-01-01", freq='m')
five_f = percentages[:len(five_r)]
five_agg = five_f.agg(['sum'])
five_sort = five_agg.sort_values(by=['sum'], axis=1, ascending=False)
jyu_r = pd.period_range("2010-01-01", "2005-01-01", freq='m')
jyu_f = percentages[:len(jyu_r)]
jyu_agg = jyu_f.agg(['sum'])
jyu_sort = jyu_agg.sort_values(by=['sum'], axis=1, ascending=False)

In [33]:
city = input('Enter the city name:')
match_name = ''
for name in date_list:
    if city.lower() in name.lower():
        match_name = name
        break
state = match_name[-2:]
print(match_name, state)
filter_names = filter(lambda name: name.endswith(state), date_list)
filter_names = list(filter_names)

print('Percentage increase over 5 years:')
print(match_name, five_sort[match_name])
sum = 0
for cityn in filter_names:
    sum = sum+five_sort[cityn]
print(state, ': ', sum)
print('United States: ', five_sort['United States'].iloc[0])

Enter the city name:new york
New York, NY NY
Percentage increase over 5 years:
New York, NY sum    0.617028
Name: New York, NY, dtype: float64
NY :  sum    9.697572
dtype: float64
United States:  0.3849520750506743

In [34]:
#partc
years = input('Enter no of years')
end_year = 2000+int(years)

custom_range = pd.period_range("2000-01-01", f"{end_year}-01-01", freq='m')
custom_frame = percentages[:len(custom_range)]
custom_agg = custom_frame.agg(['sum'])
custom_sorted = custom_agg.sort_values(by=['sum'], axis=1, ascending=False)
print(f'Top 10 markets Over {years} years: ', custom_sorted.iloc[0][:10])

Enter no of years5
Top 10 markets Over 5 years:  San Diego, CA                         0.859283
Riverside, CA                         0.815310
Ocean City, NJ                        0.812628
San Luis Obispo, CA                   0.812031
Sacramento, CA                        0.809322
Santa Maria-Santa Barbara, CA         0.803318
Salinas, CA                           0.800926
Vallejo, CA                           0.798896
Los Angeles-Long Beach-Anaheim, CA    0.797164
Modesto, CA                           0.785189
Name: sum, dtype: float64