In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("M.csv", parse_dates=True, index_col='RegionName')
data.head()

,RegionID,SizeRank,RegionType,StateName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,...,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,102001,0,Country,NaN,127772.0,128118.0,128481.0,129221.0,129968.0,130713.0,...,294041,299950.0,305369.0,310014,314128.0,318031,322383,327102.0,332304,337560.0
"New York, NY",394913,1,Msa,NY,224282.0,225622.0,226828.0,229201.0,231411.0,233764.0,...,543069,550998.0,558592.0,564494,569042.0,572596,575832,579787.0,584419,590839.0
"Los Angeles-Long Beach-Anaheim, CA",753899,2,Msa,CA,232075.0,232884.0,234121.0,236474.0,238998.0,241380.0,...,806153,827135.0,840632.0,849778,854556.0,861788,871123,881946.0,894332,911892.0
"Chicago, IL",394463,3,Msa,IL,170360.0,170762.0,171282.0,172323.0,173426.0,174520.0,...,272673,276846.0,280969.0,284047,286712.0,289412,292137,294778.0,297350,300651.0
"Dallas-Fort Worth, TX",394514,4,Msa,TX,131146.0,131251.0,131338.0,131551.0,131775.0,131962.0,...,305817,313669.0,321613.0,328844,334957.0,340454,346364,353819.0,362366,370501.0

In [3]:
copied = data.copy(deep=False)
copied = copied.T
percentages = copied.copy(deep=False)
percentages = percentages[4:]

In [4]:
date_list = []
for row in copied:
    date_list.append(row)
for d in date_list:
    percentages[d] = percentages[d].astype(float).pct_change(fill_method='ffill')
percentages.index = pd.to_datetime(percentages.index).strftime('%Y-%m')
percentages.index=percentages.index.to_series().astype(str)
percentages

RegionName,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Logan, ID","Harrisonburg, VA","Beckley, WV","Mansfield, OH","Weirton, OH","Goldsboro, NC","Augusta, ME","Hammond, LA","Jonesboro, AR","Sherman, TX"
2000-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02,0.002708,0.005975,0.003486,0.002360,0.000801,0.003346,0.000619,0.001274,0.003689,0.003330,...,NaN,NaN,0.001063,0.003643,NaN,0.002652,0.007139,NaN,0.002556,NaN
2000-03,0.002833,0.005345,0.005312,0.003045,0.000663,0.002013,-0.000943,0.001961,0.003281,0.003409,...,NaN,NaN,0.000051,0.002176,NaN,0.001362,0.004554,NaN,0.001659,NaN
2000-04,0.005760,0.010462,0.010050,0.006078,0.001622,0.004976,0.000936,0.004157,0.006447,0.006885,...,NaN,NaN,0.000651,0.004439,NaN,0.003394,0.009211,NaN,0.003726,NaN
2000-05,0.005781,0.009642,0.010673,0.006401,0.001703,0.004006,0.000063,0.005755,0.005265,0.006678,...,NaN,NaN,0.001506,0.003093,NaN,0.002847,0.006505,NaN,0.002645,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11,0.012425,0.006246,0.008463,0.009417,0.016411,0.008013,0.011552,0.005579,0.020226,0.023323,...,0.022438,0.005640,0.005731,0.014804,0.004992,0.017203,-0.001317,0.011645,0.013819,0.019678
2021-12,0.013684,0.005651,0.010832,0.009416,0.017359,0.007305,0.012334,0.006493,0.018759,0.023624,...,0.024860,0.015429,0.018148,0.014509,0.019048,0.017161,-0.003130,0.016067,0.020009,0.021708
2022-01,0.014638,0.006868,0.012424,0.009040,0.021524,0.008101,0.012309,0.007162,0.020393,0.022050,...,0.021510,0.014704,0.016078,0.012702,0.019557,0.016209,0.006803,0.018452,0.017802,0.023376
2022-02,0.015903,0.007989,0.014044,0.008725,0.024156,0.008033,0.015173,0.009499,0.018893,0.019633,...,0.024633,0.013959,0.018583,0.007080,0.020464,0.016631,0.007438,0.019682,0.021511,0.024998
2022-03,0.015817,0.010985,0.019635,0.011101,0.022450,0.010168,0.018560,0.010465,0.024960,0.020259,...,0.024192,0.004007,0.007676,0.009886,0.005630,0.020381,0.022042,0.018964,0.012684,0.025880

In [5]:
#Range and frame
four_r = pd.period_range("2000-01-01", "2004-01-01", freq='m')
four_f = percentages[:len(four_r)]
eight_r = pd.period_range("2000-01-01", "2008-01-01", freq='m')
eight_f = percentages[:len(eight_r)]
ten_r = pd.period_range("2000-01-01", "2010-01-01", freq='m')
ten_f = percentages[:len(ten_r)]

In [6]:
four_agg = four_f.agg(['sum'])
four_sort = four_agg.sort_values(by=['sum'], axis=1, ascending=False)

eight_agg = eight_f.agg(['sum'])
eight_sort = eight_agg.sort_values(by=['sum'], axis=1, ascending=False)

ten_agg = ten_f.agg(['sum'])
ten_sort = ten_agg.sort_values(by=['sum'], axis=1, ascending=False)

In [7]:
#parta price increase over time span( over 4, 8 and 10 years) of N best cities
n = input('Enter the N value:')
print('Over four years:')
print(four_sort.iloc[0][:int(n)])
print('Over eight years:')
print(eight_sort.iloc[0][:int(n)])
print('Over Ten years:')
print(ten_sort.iloc[0][:int(n)])

Enter the N value:8
Over four years:
Salisbury, MD               inf
Omaha, NE              5.214745
Medford, OR            3.099545
Seattle, WA            2.403934
Barnstable Town, MA    0.641076
San Luis Obispo, CA    0.620812
San Diego, CA          0.615979
Napa, CA               0.614230
Name: sum, dtype: float64
Over eight years:
Salisbury, MD                                  inf
Portland, ME                                   inf
Omaha, NE                             1.590863e+04
Medford, OR                           4.407382e+00
Seattle, WA                           2.140195e+00
Kahului, HI                           1.012358e+00
Riverside, CA                         9.259058e-01
Los Angeles-Long Beach-Anaheim, CA    9.098710e-01
Name: sum, dtype: float64
Over Ten years:
Kingston, NY                   inf
Salisbury, MD                  inf
Portland, ME                   inf
Omaha, NE             1.590862e+04
Medford, OR           4.153248e+00
Seattle, WA           1.914015e+00
Kahului, HI           8.272594e-01
Urban Honolulu, HI    7.037161e-01
Name: sum, dtype: float64

In [12]:
#partB ook a city name and compared itâ€™s performance (price increases) over 5 & 10 year spans to the overall averages for that state as well as for the US. 
date_list
five_r = pd.period_range("2000-01-01", "2005-01-01", freq='m')
five_f = percentages[:len(five_r)]
five_agg = five_f.agg(['sum'])
five_sort = five_agg.sort_values(by=['sum'], axis=1, ascending=False)
jyu_r = pd.period_range("2010-01-01", "2005-01-01", freq='m')
jyu_f = percentages[:len(jyu_r)]
jyu_agg = jyu_f.agg(['sum'])
jyu_sort = jyu_agg.sort_values(by=['sum'], axis=1, ascending=False)

In [15]:
city = input('Enter the city name:')
match_name = ''
for name in date_list:
    if city.lower() in name.lower():
        match_name = name
        break
state = match_name[-2:]
print(match_name, state)
filter_names = filter(lambda name: name.endswith(state), date_list)
filter_names = list(filter_names)

print('Percentage increase over 5 years:')
print(match_name, five_sort[match_name])
sum = 0
for cityn in filter_names:
    sum = sum+five_sort[cityn]
print(state, ': ', sum)
print('United States: ', five_sort['United States'].iloc[0])

Enter the city name:medford
Medford, OR OR
Percentage increase over 5 years:
Medford, OR sum    4.272861
Name: Medford, OR, dtype: float64
OR :  sum    5.430795
dtype: float64
United States:  0.3849520750506743

In [16]:
#partc calculated top 10 markets over 5 years
years = input('Enter no of years')
end_year = 2000+int(years)

custom_range = pd.period_range("2000-01-01", f"{end_year}-01-01", freq='m')
custom_frame = percentages[:len(custom_range)]
custom_agg = custom_frame.agg(['sum'])
custom_sorted = custom_agg.sort_values(by=['sum'], axis=1, ascending=False)
print(f'Top 10 markets Over {years} years: ', custom_sorted.iloc[0][:10])

Enter no of years5
Top 10 markets Over 5 years:  Salisbury, MD                             inf
Omaha, NE                        1.590859e+04
Medford, OR                      4.272861e+00
Seattle, WA                      1.843074e+00
San Diego, CA                    8.592833e-01
Riverside, CA                    8.153095e-01
San Luis Obispo, CA              8.120306e-01
Sacramento, CA                   8.093217e-01
Santa Maria-Santa Barbara, CA    8.033177e-01
Salinas, CA                      8.009256e-01
Name: sum, dtype: float64